# VSCode extension build artifacts
compiler/stage3/vscode-ext/node_modules/
compiler/stage3/vscode-ext/out/
compiler/stage3/vscode-ext/*.vsix


# Nested website repository
dast-lang.github.io/
target/
